{% extends "layout.html" %}

{% block title %}
Edit Reference
{% endblock %}

{% block body %}
<div class="form-section">
  <form action="/edit_reference" method="post" onsubmit="return check(this)">
    <div>
      <h2 style="display: flex; align-items: center; gap: 10px;" onload=update_form()>
        <button id="reference-type" value="{{ reference.type }}" hidden></button>
        Edit {{ reference.type }} type reference
      </h2>
    </div>
    <br>
    <div class="form-grid" id="form-grid">
      <div id="fields"></div>
    </div>
    <input name="reference_id" type="hidden" value="{{ reference.id }}">
    <button class="button add-reference-button" type="submit">
      Edit
    </button>
  </form>
</div>
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="success-message">{{ message }}</div>
{% endfor %}
{% endif %}
{% endwith %}

{% endblock %}
