{% extends "layout.html" %}

{% block title %}
References App
{% endblock %}

{% block body %}
<div class="home-page">
  
  <h2>References App</h2>
  
  <div>
<p class="home-page-info">
This is an app for the client to add article type references and inspect them in BibTex- format
The client can also edit added references
The app is created by LateXin Ritarit during the course Ohjelmistotuotanto (5 op)
</p>
<div class="creator-info">
<b>Creators:</b> 
Tofelius Laakso
Heidi Tapani
Daniel Kalske
Emilia Koponen
Matias Ilola
Kety Kuusaru
</div>
</div>

{% endblock %}