<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>{% block title %}{% endblock %}</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
  </head>
  <div class="container" >
    <div class="nav">
      <a href="/"><button>Home</button></a>
      <a href="/list_references"><button>All references</button></a>
      <a href="/new_reference"><button>New reference</button></a>
    </div>
  </div>
  <body >
    <div class="container">
      <script>
        function add_author() {
          var authorsContainer = document.getElementById('authorsContainer');
          var Authors = authorsContainer.getElementsByClassName('author-entry').length;
      
          if (Authors >= 21) {
            alert('You can only add max 21 authors');
            return;
          }
      
          const authorEntry = document.createElement('div');
          authorEntry.className = 'author-entry';
          authorEntry.innerHTML = `
              <input placeholder="Author" type="text" name="author" minlength="1" maxlength="200" required>
              <button type="button" class="remove-author" onclick="remove_author(this)">×</button>`;
          authorsContainer.appendChild(authorEntry);
        }
      
        function remove_author(button) {
          button.parentElement.remove();
        }
        function select_reference_type(type) {
          document.getElementById('reference-type').value = type;
        }
      
        const form_fields = {
          article:       { required: ["author", "title", "journal", "year"], 
                           optional: ["volume", "number", "pages", "month", "note"] },
          book:          { required: ["author", "title", "publisher", "year"],
                           optional: ["editor", "volume", "number", "series", "address", "edition", "month", "note"] },
          booklet:       { required: ["author", "title", "howpublished", "address", "year"],
                           optional: ["editor", "volume", "number", "series", "organization", "month", "note"] },
          conference:    { required: ["author", "title", "booktitle", "year"],
                           optional: ["editor", "volume", "number", "series", "pages", "address", "month", "organization", "publisher", "note"] },
          inbook:        { required: ["author", "title", "booktitle", "publisher", "year"],
                           optional: ["editor", "volume", "number", "series", "address", "edition", "month", "pages", "note"] },
          incollection:  { required: ["author", "title", "booktitle", "publisher", "year"],
                           optional: ["editor", "volume", "number", "series", "pages", "address", "month"] },
          inproceedings: { required: ["author", "title", "booktitle", "year"],
                           optional: ["editor", "volume", "number", "series", "pages", "address", "month", "organization", "publisher"] },
          manual:        { required: ["title", "year"],
                           optional: ["author", "organization", "address", "edition", "month", "note"] },
          mastersthesis: { required: ["author", "title", "school", "year"],
                           optional: ["type", "address", "month", "note"] },
          misc:          { required: [],
                           optional: ["author", "title", "howpublished", "month", "year", "note"] },
          phdthesis:     { required: ["author", "title", "school", "year"],
                           optional: ["type", "address", "month", "note"] },
          proceedings:   { required: ["title", "year"],
                           optional: ["editor", "volume", "number", "series", "address", "month", "publisher"] },
          techreport:    { required: ["author", "title", "institution", "year"],
                           optional: ["type", "number", "address", "month", "note"] },
          unpublished:   { required: ["author", "title", "note"],
                           optional: ["month", "year"] },
        };
      
        const update_form = () => {
          const type = document.getElementById("reference-type").value;
          const fields = form_fields[type];
          const formFieldsDiv = document.getElementById("fields");
          formFieldsDiv.innerHTML = "";
          const hasAuthors = fields.required.includes("author") || (type === "manual" || type === "misc");
      
          if (hasAuthors) {
            append_authors_container(formFieldsDiv, type === "manual" || type === "misc");
          }
      
          append_fields(formFieldsDiv, fields.required, true);
          append_fields(formFieldsDiv, fields.optional, false);
        };
      
        const append_authors_container = (container, optional = false) => {
          const authorsContainer = document.createElement("div");
          authorsContainer.className = "authors-container";
          authorsContainer.innerHTML = `
            <div id="authorsContainer">
              <div class="author-entry">
                <input placeholder="Author${optional ? ' (Optional)' : ' *'}" type="text" name="author" minlength="1" maxlength="200" ${optional ? '' : 'required'}>
                <button class="add-author-button" type="button" onclick="add_author()">+</button>
              </div>
            </div>`;
          container.appendChild(authorsContainer);
        };
      
        const append_fields = (container, fields, required) => {
          const div = document.createElement("div");
          for (const field of fields) {
            if (field !== "author") {
              div.appendChild(create_field(field, required));
            }
          }
          container.appendChild(div);
        };
      
        const create_field = (field, required) => {
          const row = document.createElement("div");
      
          const input = document.createElement("input");
          input.placeholder = field.charAt(0).toUpperCase() + field.slice(1) + (required ? " *" : " (Optional)");
          input.name = field;
          input.required = required;
      
          switch (field) {
            case "title":
            case "journal":
            case "pages":
            case "note":
              input.type = "text";
              input.minLength = 1;
              input.maxLength = 200;
              break;
            case "year":
              input.type = "number";
              input.min = 1;
              input.max = 2100;
              break;
            case "volume":
            case "number":
              input.type = "number";
              input.min = 1;
              input.max = 5000;
              break;
            case "month":
              input.type = "number";
              input.min = 1;
              input.max = 12;
              break;
            default:
              input.type = "text";
          }
      
          row.appendChild(input);
          return row;
        };
      
        window.onload = update_form; // So that article fields are shown by default
      </script>
      {% block body %}{% endblock %}
    </div>
  </body>
</html>
