{% extends "layout.html" %}


{% block title %}

Reference List

{% endblock %}


{% block body %}






<div class="references-container">
  <h2>Reference List</h2>
  <br>
<div class="export-button-container">
  <a href="/references_as_bibtex">
    <button class="export-button" >Export as BibTeX</button>
  </a>
</div>




<div class="form-section">
  <div class="reference-search">
      <input type="text" class="search-box" id="RefSearch" placeholder="Search for a reference...">
  </div>
<br>




{% if references %}
  <ul id="referenceList">
  <div id="noResults" class="no-results">No results found</div>
  {% for reference in references %}
    <li class="reference">
      <span class="reference-text">
      {{ reference[2]}}

      </span>
      <div class="reference-buttons">
      <a href="/edit_reference?id={{ reference[0] }}&type={{ reference[1] }}">
        <button class="edit-button">Edit</button>
      </a>

      <a href="/delete_reference?id={{ reference[0] }}&type={{ reference[1] }}">
        <button class="delete-button">Delete</button>
      </a>
      </div>
    </li>
  {% endfor %}
  </ul>
{% else %}
  <p>No references added yet.</p>
{% endif %}
</div>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <div class="success-message">{{ message }}</div>
    {% endfor %}
  {% endif %}
{% endwith %}

{% endblock %}






















