{% extends "layout.html" %}

{% block title %}
Reference List
{% endblock %}

{% block body %}
<h2>Reference List</h2>

<ul>
  {% for reference in references %}
    <li>
      {{ reference.author }}. {{ reference.title }}. {{ reference.journal }}, {{ reference.year }}.
      {% if reference.volume %} vol. {{ reference.volume }}.{% endif %}
      {% if reference.number %} no. {{ reference.number }}.{% endif %}
      {% if reference.pages %} page(s) {{ reference.pages }}.{% endif %}
      {% if reference.month %} month: {{ reference.month }}.{% endif %}
      {% if reference.note %} notes: {{ reference.note }}.{% endif %}
    </li>
  {% endfor %}
</ul>
<br>
<br>
<div>
{% endblock %}