{% extends "layout.html" %}

{% block title %}
References app
{% endblock %}

{% block body %}

<h2>Add a new article type reference</h2>
<h4>Please fill in the fields below:</h4>

<form action="/create_reference" method="post">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <label for="content">Author:</label>
  <input type="text" name="author">

  <label for="content">Title:</label>
  <input type="text" name="title">

  <label for="content">Year:</label>
  <input type="number" name="year">

  <label for="content">Journal:</label>
  <input type="text" name="journal"><br>
  <br>
  <br>
  Optional fields:<br>
  <br>
  <label for="content">Volume:</label>
  <input type="number" name="volume">
  
  <label for="content">Number:</label>
  <input type="number" name="number">

  <label for="content">Pages:</label>
  <input type="number" name="pages">

  <label for="content">Month:</label>
  <input type="number" name="month">

  <label for="content">Note:</label>
  <input type="text" name="note"><br>
  <br>
  <br>
  <button type="submit">
    Add 
  </button>
</form>
<br>
<br>
<div>
  <a href="/list_references">View added references</a>
</div>

{% endblock %}