{% extends "layout.html" %}

{% block title %}
Create a new todo
{% endblock %}

{% block body %}

<h2>Add a new reference</h2>

<form action="/create_todo" method="post">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <label for="content">Reference:</label>
  <input type="text" name="content">
  <br>
  <button type="submit">
    Add 
  </button>
</form>

{% endblock %}