{% extends "layout.html" %}

{% block title %}
New Reference
{% endblock %}

{% block body %}
<div class="form-section">
  <div class="doi-search">
    <div class="search-container">
      <input type="text" id="doiSearch" placeholder="Enter DOI to auto-fill form">
      <button type="button" onclick="search_DOI()">Search DOI</button>
    </div>
    <div id="doiSearchStatus" class="search-status"></div>
  </div>
  <form action="/create_reference" method="post" onsubmit="return check(this)">
    <div>
      <h2 style="display: flex; align-items: center; gap: 10px;">
        Add new 
        <select class="dropdown" name="type" id="reference-type" onchange="update_form()" required>
          <option value="article" selected >article</option>
          <option value="book">book</option>
          <option value="booklet">booklet</option>
          <option value="conference">conference</option>
          <option value="inbook">inbook</option>
          <option value="incollection">incollection</option>
          <option value="inproceedings">inproceedings</option>
          <option value="manual">manual</option>
          <option value="mastersthesis">mastersthesis</option>
          <option value="misc">misc</option>
          <option value="phdthesis">phdthesis</option>
          <option value="proceedings">proceedings</option>
          <option value="techreport">techreport</option>
          <option value="unpublished">unpublished</option>
        </select>
        type reference
      </h2>
    </div>
    <br>
    <div class="form-grid" id="form-grid">
      <div id="fields"></div>
    </div>
    <button class="button add-reference-button" type="submit">
      Add
    </button>
  </form>
</div>
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="success-message">{{ message }}</div>
{% endfor %}
{% endif %}
{% endwith %}

{% endblock %}
